@import url('https://fonts.cdnfonts.com/css/manga-temple');

.text {
    font-family: 'Manga Temple', sans-serif;
}

.goku-content{
    position: flex;
    right: 100px;
}


.info {
    width: 60%;
    position: relative;
    background-color: black;
    left: 20%;
}

.profile-pic {
    background-image: url('goku.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border: 10px solid red;
}

.membership-year {
    float: right;
    background-color: black;
}


.misc-content {
    background-color: black;
    gap: 300px;
}

.new-photo2 {
    background-image: url('goku2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border: 10px solid red;
}

.new-photo {
    background-image: url('goku-BG.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 183px;
    border: 10px solid red;
}

.friend-pic{
    background-image: url('fist.gif');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

.like-pic {
    background-image: url('thumbsup.gif');
    background-size: contain;
    background-repeat: no-repeat;
    height: 175px;
}
