@import url('https://fonts.cdnfonts.com/css/manga-temple');

.text {
    font-family: 'Manga Temple', sans-serif;
}


.goku-page {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info {
    width: 55%;
    background-color: black;
}

.profile-pic {
    background-image: url('goku.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border: 10px solid red;
}

.membership-year {
    float: right;
    background-color: black;
}


.misc-content {
    position: absolute;
    top: 129px;
    right: 10px; 
    background-color: black;
    width: 200px;
    display: grid;
    grid-template-columns: 2fr; /* Adjust the number of columns as needed */
    grid-template-rows: auto; /* Adjust rows as needed */
    gap: 20px; /* Adjust the gap between items */
}



.new-photo {
    background-image: url('goku-BG.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

.grid-container {
    display: grid;
    grid-template:
        "a a a" 50px
        "b c c" 50px
        "b c c" 50px / 1fr 1fr 1fr;
}

