.users-container {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 800px;
  position: relative;
  background-image: url('image.png');
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.users-container input[type="text"] {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.flair2{
  background-image: url(design.gif);
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 200px;
  position: absolute;
  top: 500px; 
  left: 50px; 
  border: 10px black solid;
}